{% extends 'base.html' %}
{% block title %}
    Add Movie|Movie Now
{% endblock %}

{% block content %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-7">
                <div class="card add-movie-card shadow-lg border-0">
                    <div class="card-body p-4 p-lg-5">
                        <div class="text-center mb-4">
                            <i class="bi bi-film add-movie-icon"></i>
                            <h2 class="fw-bold mt-3">Add New Movie</h2> 
                            <small class="text-secondary">
                                Add a new movie to the Movie Now collection
                            </small>
                        </div>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary w-100 mt-3">Add Movie</button>
                        </form>
                        <div class="text-center mt-3">
                            <a href="{% url 'home' %}" class="btm btn-outline secondary">
                                <i class="bi bi-arrow-left"></i>
                                Back to Home
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
{% endblock %}